.serviceTwo {
    height: 55.125rem;
    .serviceTwo__intro {
        margin-top: 6rem;
        &--title {
            @include sectionIntroTitle;
        }
        &--desc {
            @include sectionIntroDesc;
        }
        span {
            @include sectionIntroHorizontalBar;
        }
        &--text {
            @include sectionIntroText;
        }
    }
    .serviceTwo__content{
        margin-top:6.25rem;
        &--image{
            img{
                max-width: 100%;
                height: auto;
            }
        }
        &--accordion{
            &-card{
                margin-bottom:.625rem;
                border: 1px solid #e5e5e5;
                .accordion--photo,
                .accordion--creativity,
                .accordion--design{
                    background:#fff;
                    .serviceTwo__content--accordion-card_header{
                       @include accordionCardHeader;
                    } 
                }
                .accordion--photo{
                    &:before{
                        @include accordionIcon;
                         background:url('../images/icon-s2.png');
                          
                 }
                }
                .accordion--creativity{
                    &:before{
                        @include accordionIcon;
                         background:url('../images/icon2-s2.png');
                          
                 } 
                }
                .accordion--design{
                    &:before{
                        @include accordionIcon;
                         background:url('../images/icon3-s2.png');
                         width:32px;
                         height:32px;
                          
                 }
                }
             &_collapse{
                 padding-right:25px;
                 height:11.25rem;
                 .serviceTwo__content--accordion-card_body{
                    color:#999;
                    font-family: $roboto;
                    font-weight: 300;
                    font-style: italic;
                    line-height: 1.5rem;
                    font-size: .9375rem;
                    height:7.5rem;
                    padding:0 1.25rem;
                    margin-top:1.5rem;
                    overflow: auto;
                    &::-webkit-scrollbar{
                        background:#fff;
                        width:5px;
                    }
                    &::-webkit-scrollbar-thumb{
                        background:$aboutSectionColor;  
                      
                    }
                    &::-webkit-scrollbar-track{
                        background: #f5f5f5;
                    }
                   
                 }
             }
            }
            &-card:last-child{
                margin-bottom:0;
            }
        }
    }
}

/* MEDIA QUERIES */

@media screen and (min-width:768px) and (max-width:992px){
    .serviceTwo .serviceTwo__content .serviceTwo__content--accordion{
        width: 83%;
        margin: 0 auto;
        margin-top: 2rem;
    }
}

@media screen and (min-width:576px) and (max-width:768px){
    .serviceTwo .serviceTwo__intro{
        margin-top:0;
    }
    .serviceTwo .serviceTwo__content .serviceTwo__content--accordion{
        width: 83%;
        margin: 0 auto;
        margin-top: 2rem;
    }
}
@media screen and (min-width:340px) and (max-width:575.98px){
    .serviceTwo{
        height:50rem;
        margin-top:14rem;
    }
    .serviceTwo .serviceTwo__content .serviceTwo__content--accordion{
        margin-top:-3rem;
    }
}
@media screen and(max-width:370px){
    .serviceTwo{
        height:50rem;
        margin-top:20rem;
    }
}

