// FONTS
$roboto : 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$kaushanScript:'Kaushan Script', cursive;

// COLORS
$homeHoverColor: #fce38a;
$navBackground: rgb(231, 131, 130);
$aboutSectionColor:#95e1d3;

// HELPERS

$bold :bold;